body{
    color: #6E6E6E;
}

#topSec{
height: 1673px;
}

#topImage{
height: 900px;
border: 1px solid black;
}

#navBar{
    z-index: 2;
    /*position: relative;
    top: 140px;
    opacity: 0.5;
    */
}

#topPic{
  position: absolute;
  top: 0px;
  z-index: -1;
}

#aboutSec{
    position: absolute;
    width: 400px;
    height: 232px;
    left: 913px;
    top: 310px;
    overflow: visible;
}

#helloI{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

#rajG{
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255,255,255,1);
}

#pro{
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 170px;
    height: 55px;
    left: 3px;
    top: 177px;
}

#Get_Started {
    position: absolute;
    left: 52px;
    top: 195px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

#topLower{
    height: 773px;
    border: 1px solid black;
}

#myskills{
    height: 380px;
    width: 1170px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid yellow;*/
}

#infoMe{
    height: 380px;
    width: 464px;
    float: left;
    /*border: 10px solid pink;*/
}

#skillBars{
    height: 380px;
    width: 702px;
    border: 1px solid green;
    float: right;
    display:block;
}

#mainText{
    height: 318px;
    width: 365px;
    text-align: left;
    font-family:'Roboto', sans-serif;
    /*border: 1px solid black;*/
}

button{
    border: none;
}

#hireButton{
    height: 55px;
    width: 170px;
    display: block;
    margin:10% 0;
    background-color: rgb(160,211,52);
    color: rgba(255,255,255,1);
}

.barSec{
    height: 50%;
    /*border: 1px solid red;*/
}

.barSkill{
    width: 45%;
    height: 90%;
    margin: auto;
    display: inline-block;
    border: 1px solid red;
}

.rightF{
    float: right;
}

.skillLogo{
    width: 29%;
    height: 100%;
    display: inline-block;
    border: 3px solid green;
}

.skillInfo{
    width: 68%;
    height: 100%;
    display: inline-block;
    text-align: left;
    border: 3px solid black;
}

.skillImg{
    
}

#middleSec{
    height: 875px;
    border: 1px solid red;
}

#lowerMiddle{
    height: 1460px;
    border: 1px solid yellow;
}

/*
.Path_2836 {
    overflow: visible;
    position: absolute;
    width: 1600px;
    height: 1460px;
    left: 0px;
    top: 2712px;
    transform: matrix(1,0,0,1,0,0);
}
*/

#portMain{
    border: 1px solid black;
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#portText{
    height: 20%;
    width: 80%;
    border: 1px solid yellow;
    margin: auto;
    text-align: center;
}

.domainText{
    display: inline-block;
    border: 1px solid black;
    margin-top: 10px ;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

#portPics{
    border: 1px solid black;
    width: 1350px;
    margin: auto;
}

.imgC{
    border: 1px solid black;
    margin: 0 auto;
}

#workTogether{
    height: 251px;
    background-color: pink;
    border: 1px solid black;
}

#footerWork{
    height: 100px;
    width: 70%;
    display: block;
    background-color: white;
    border: 1px solid red;
    margin:75px auto;
}

#footerLine{
    float: left;
    margin-top: 32px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(74,74,74,1);
}

#finalB{
    float: right;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(160, 211, 52);
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}

#footerTab{
    height: 473px;
}