body{
    color: blue;
}

#topSec{
height: 1673px;
}

#topImage{
height: 900px;
}

#aboutSec{
    position: absolute;
    width: 400px;
    height: 232px;
    left: 913px;
    top: 310px;
    overflow: visible;
}

#helloI{
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

#rajG{
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(255,255,255,1);
}

#pro{
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.5px;
}

.Rectangle_8 {
    position: absolute;
    overflow: visible;
    width: 170px;
    height: 55px;
    left: 3px;
    top: 177px;
}

#Get_Started {
    position: absolute;
    left: 52px;
    top: 195px;
    overflow: visible;
    width: 71px;
    white-space: nowrap;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}

#topLower{
    height: 773px;
    width: 1600px;
}

#myskills{
    width: 1170px;
    height: 380px;
    margin-top: 33px;
    margin-left: 160px;
}

#infoMe{
    height: 380px;
    width: 464px;
    background-color: rgb(83, 73, 73);
}

#skillBars{
    height: 380px;
    width: 706px;
    background-color: indigo;
}